body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #333;
}

header {
  background: #3c335e;
  padding: 1rem;
  color: white;
}

main {
  display: flex;
  height: calc(100vh - 110px);
}

.column-one,
.column-two {
  padding: 1rem;
}

.column-one {
  flex: 35%;
}

.column-two {
  flex: 65%;
  background: #3f3f3f;
  color: white;
  overflow-y: auto;
}
